.TodoItem{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 360px;
    height: 90px;
    border-radius: 2px;
    background-color: #fafafa;
    box-shadow: 0px 5px 50px 0px rgba(30, 30, 31, 0.15);
    font-size: 1.1rem;
    line-height: normal;
    gap: 24px;
    padding: 24px;
    padding-right: 12px;
    position: relative;
}

.TodoItem-p{
    color: #1E1E1F;
    
    font-weight: 400;
}

.TodoItem-p--complete{
    text-decoration: line-through;
}

@media (width <= 300px) {
    .TodoItem{
        width: 270px;
        gap: 18px;
        padding: 12px;
    }

}

