.TodosLoading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 360px;
    height: 90px;
    border-radius: 2px;
    background-color: #fafafa;
    box-shadow: 0px 5px 50px 0px rgba(30, 30, 31, 0.15);
    line-height: normal;
    gap: 24px;
    padding: 24px;
    padding-right: 12px;
    position: relative;
}

.TodosLoading-text{
    font-family: 'Flow Circular', cursive;
    font-size: 72px;

    color: #b1adad;
    padding-bottom: 12px;
}

.TodosLoading-check{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-image: linear-gradient(to left, rgba(238, 233, 233, 0.500), #d6d4d4);
}

.TodosLoading-close{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    position: absolute;
    right: 6px;
    top: -24px;
    background-image: linear-gradient(to left, rgba(238, 233, 233, 0.500), #d6d4d4);
}


.TodosLoading,
.TodosLoading-check,
.TodosLoading-close {
  background: linear-gradient(90deg, rgba(250,250,250,1), rgb(200, 199, 199));
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}



@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



