.TodoCounter{
    
    text-align: center;
    margin: 0;
    margin: 105px 5px 48px 5px;
    
    color: #1E1E1F;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.TodoCounter span{
    font-weight: bold;
    font-size: 1.5rem;
}